.caixa {
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.dias-vividos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}