body {
	background: linear-gradient(#FF0000 70%, #FFFF00);
}

.caixa {
	height: 636px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.dias-vividos {
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titulo {
	font-size: 40px;
	color: #FFFFFF;
}

.texto {
	color: #000000;
	font-size: 20px;
}

input {
	width: 40%;
	padding: 10px 13px;
	font-size: 17px;
	border-radius: 5px;
	border-style: solid;
	border-color: #FFFF00;
}

.botao {
	margin: 30px 0;
	padding: 20px;
	width: 30%;
	background: #FFFF00;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 650px) {
	.titulo {
		font-size: 22px;
	}

	.botao {
		width: 40%;
	}
}