body {
	background: linear-gradient(#FF0000 70%, #FFFF00);
}

.caixa {
	height: 633px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.dias-vividos {
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.texto {
	color: #000000;
}

p {
	font-size: 20px;
}